@font-face {
    font-family: 'bf-icons';
    src:  url('../../assets/bf-icons.eot');
    src:  url('../../assets/bf-icons-extended.eot');
    src:  url('../../assets/bf-icons.eot#iefix') format('embedded-opentype'),
        url('../../assets/bf-icons.ttf') format('truetype'),
        url('../../assets/bf-icons.woff') format('woff'),
        url('../../assets/bf-icons.svg#bf-icons') format('svg');
}

@font-face {
    font-family: 'bf-icons';
    src:  url('../../assets/bf-icons-extended.eot');
    src:  url('../../assets/bf-icons-extended.eot#iefix') format('embedded-opentype'),
        url('../../assets/bf-icons-extended.ttf') format('truetype'),
        url('../../assets/bf-icons-extended.woff') format('woff'),
        url('../../assets/bf-icons-extended.svg#bf-icons') format('svg');
}

[class^="icon icon-"] {
    font-family: 'bf-icons' !important;    
    line-height: 1;
    font-weight: bold;
}

/* Size */

.icon-size-small {
    font-size: @font-size-small;
}

.icon-size-normal {
    font-size: @font-size-normal;
}

.icon-size-medium {
    font-size: @font-size-medium;
}

.icon-size-large {
    font-size: @font-size-large;
}

.icon-size-xlarge {
    font-size: @font-size-xlarge;
}

.icon-size-huge {
    font-size: @font-size-huge;
}

.icon-size-extra {
    font-size: @font-size-extra;
}

/* Name */

.icon-alarm-clock::before {content: "\e000";}
.icon-align-all::before {content: "\e001";}
.icon-alm::before {content: "\e900";}
.icon-ambulance::before {content: "\e002";}
.icon-amex::before {content: "\e901";}
.icon-angle-double-down::before {content: "\e003";}
.icon-angle-double-left::before {content: "\e004";}
.icon-angle-double-right::before {content: "\e005";}
.icon-angle-double-up::before {content: "\e006";}
.icon-angle-down::before {content: "\e007";}
.icon-angle-left::before {content: "\e008";}
.icon-angle-right::before {content: "\e009";}
.icon-angle-up::before {content: "\e00a";}
.icon-angles-v-alt::before {content: "\e00b";}
.icon-angles-v::before {content: "\e00c";}
.icon-arrow-down::before {content: "\e00d";}
.icon-arrow-left-bottom::before {content: "\e00e";}
.icon-arrow-left-top::before {content: "\e00f";}
.icon-arrow-left::before {content: "\e010";}
.icon-arrow-right-bottom::before {content: "\e011";}
.icon-arrow-right-top::before {content: "\e012";}
.icon-arrow-right::before {content: "\e013";}
.icon-arrow-up::before {content: "\e014";}
.icon-arrows-h::before {content: "\e015";}
.icon-arrows-left-right::before {content: "\e016";}
.icon-arrows-random::before {content: "\e017";}
.icon-arrows-up-down::before {content: "\e018";}
.icon-arrows-v::before {content: "\e019";}
.icon-at-sign::before {content: "\e01a";}
.icon-attachment-add::before {content: "\e01b";}
.icon-attachment-remove::before {content: "\e01c";}
.icon-attachment::before {content: "\e01d";}
.icon-baby::before {content: "\e902";}
.icon-badge-ribbon::before {content: "\e01e";}
.icon-badge::before {content: "\e01f";}
.icon-balcony::before {content: "\e903";}
.icon-ban::before {content: "\e020";}
.icon-bank-transfer::before {content: "\e904";}
.icon-bar-chart::before {content: "\e021";}
.icon-barbecue::before {content: "\e022";}
.icon-barrow::before {content: "\e905";}
.icon-basketball::before {content: "\e023";}
.icon-basquet-add::before {content: "\e906";}
.icon-basquet-remove::before {content: "\e907";}
.icon-bathrobe::before {content: "\e908";}
.icon-beach::before {content: "\e024";}
.icon-beer-glass::before {content: "\e025";}
.icon-bell-active::before {content: "\e026";}
.icon-bell-active-solid::before {content: "\e909";}
.icon-bell-disable::before {content: "\e027";}
.icon-bell-sleeping::before {content: "\e028";}
.icon-bell-solid::before {content: "\e90a";}
.icon-bell-time::before {content: "\e029";}
.icon-bell::before {content: "\e02a";}
.icon-bicycle::before {content: "\e02b";}
.icon-billiard::before {content: "\e02c";}
.icon-binoculars::before {content: "\e02d";}
.icon-boat::before {content: "\e02e";}
.icon-bolt::before {content: "\e02f";}
.icon-bolt-solid::before {content: "\e90b";}
.icon-book::before {content: "\e030";}
.icon-bookmarks::before {content: "\e031";}
.icon-bowling::before {content: "\e032";}
.icon-box::before {content: "\e90d";}
.icon-box-open::before {content: "\e90c";}
.icon-bracket-symbols::before {content: "\e033";}
.icon-bread-slice::before {content: "\e034";}
.icon-bread::before {content: "\e035";}
.icon-briefcase::before {content: "\e036";}
.icon-broom::before {content: "\e037";}
.icon-building::before {content: "\e90e";}
.icon-bullhorn::before {content: "\e038";}
.icon-bunk-bed::before {content: "\e90f";}
.icon-bus::before {content: "\e039";}
.icon-cable-car::before {content: "\e910";}
.icon-calc::before {content: "\e03a";}
.icon-calendar-day::before {content: "\e03b";}
.icon-calendar-days::before {content: "\e03c";}
.icon-calendar-edit::before {content: "\e03d";}
.icon-calendar-list::before {content: "\e03e";}
.icon-calendar-star::before {content: "\e03f";}
.icon-camera::before {content: "\e040";}
.icon-camera-solid::before {content: "\e911";}
.icon-camping-bag::before {content: "\e041";}
.icon-camping-fire::before {content: "\e042";}
.icon-camping-tent::before {content: "\e043";}
.icon-camping::before {content: "\e044";}
.icon-candles::before {content: "\e045";}
.icon-cane::before {content: "\e912";}
.icon-car::before {content: "\e046";}
.icon-carriage::before {content: "\e913";}
.icon-cart::before {content: "\e048";}
.icon-cart-add-solid::before {content: "\e914";}
.icon-cart-add::before {content: "\e915";}
.icon-cart-cancel-solid::before {content: "\e916";}
.icon-cart-cancel::before {content: "\e917";}
.icon-cart-confirm-solid::before {content: "\e918";}
.icon-cart-confirm::before {content: "\e919";}
.icon-cart-put::before {content: "\e047";}
.icon-cart-remove-solid::before {content: "\e91a";}
.icon-cart-remove::before {content: "\e91b";}
.icon-cart-solid::before {content: "\e91c";}
.icon-casino-chip::before {content: "\e049";}
.icon-castle::before {content: "\e91d";}
.icon-cat::before {content: "\e04a";}
.icon-cell-phone::before {content: "\e04b";}
.icon-chairs-table::before {content: "\e04c";}
.icon-champagne::before {content: "\e04d";}
.icon-chat::before {content: "\e04e";}
.icon-chat-solid::before {content: "\e91e";}
.icon-check::before {content: "\e04f";}
.icon-checklist::before {content: "\e050";}
.icon-chef::before {content: "\e051";}
.icon-child::before {content: "\e052";}
.icon-child-bed::before {content: "\e91f";}
.icon-children-cubes::before {content: "\e920";}
.icon-children-not-allowed::before {content: "\e921";}
.icon-church::before {content: "\e053";}
.icon-circle-cancel-solid::before {content: "\e922";}
.icon-circle-cancel::before {content: "\e923";}
.icon-circle-confirm-solid::before {content: "\e924";}
.icon-circle-confirm::before {content: "\e925";}
.icon-circle-notice::before {content: "\e054";}
.icon-circle-notice-solid::before {content: "\e926";}
.icon-circle-question::before {content: "\e055";}
.icon-circle-question-solid::before {content: "\e927";}
.icon-circle-remove-solid::before {content: "\e928";}
.icon-circle-remove::before {content: "\e929";}
.icon-clock::before {content: "\e056";}
.icon-closed-door::before {content: "\e057";}
.icon-cloud-add::before {content: "\e058";}
.icon-cloud-add-solid::before {content: "\e92a";}
.icon-cloud-cancel::before {content: "\e92c";}
.icon-cloud-cancel-solid::before {content: "\e92b";}
.icon-cloud-confirm::before {content: "\e059";}
.icon-cloud-confirm-solid::before {content: "\e92d";}
.icon-cloud-download::before {content: "\e05a";}
.icon-cloud-download-solid::before {content: "\e92e";}
.icon-cloud-remove::before {content: "\e05b";}
.icon-cloud-remove-solid::before {content: "\e92f";}
.icon-cloud-upload::before {content: "\e05c";}
.icon-cloud-upload-solid::before {content: "\e930";}
.icon-cocktail::before {content: "\e05d";}
.icon-coffee::before {content: "\e05e";}
.icon-confirm-shield::before {content: "\e05f";}
.icon-confirm-shield-solid::before {content: "\e931";}
.icon-cooktop::before {content: "\e932";}
.icon-cough::before {content: "\e060";}
.icon-country-road-sign::before {content: "\e933";}
.icon-cow::before {content: "\e935";}
.icon-credit-card::before {content: "\e061";}
.icon-credit-card-add::before {content: "\e935";}
.icon-credit-card-cancel::before {content: "\e936";}
.icon-credit-card-confirm::before {content: "\e937";}
.icon-credit-card-remove::before {content: "\e938";}
.icon-credit-cards::before {content: "\e062";}
.icon-crib::before {content: "\e063";}
.icon-croatian::before {content: "\e939";}
.icon-croissant::before {content: "\e064";}
.icon-crop::before {content: "\e065";}
.icon-cruise-ship::before {content: "\e066";}
.icon-curling::before {content: "\e93a";}
.icon-currency-exchange::before {content: "\e93b";}
.icon-czech::before {content: "\e93c";}
.icon-danish::before {content: "\e93d";}
.icon-database-add::before {content: "\e067";}
.icon-database-remove::before {content: "\e068";}
.icon-database::before {content: "\e069";}
.icon-desk::before {content: "\e06a";}
.icon-diners::before {content: "\e93e";}
.icon-disco-ball::before {content: "\e93f";}
.icon-discount-badge::before {content: "\e06b";}
.icon-discount-ticket::before {content: "\e940";}
.icon-discover::before {content: "\e941";}
.icon-dishwasher::before {content: "\e942";}
.icon-diving-mask::before {content: "\e06c";}
.icon-dog::before {content: "\e06d";}
.icon-dollar-down::before {content: "\e06e";}
.icon-dollar-up::before {content: "\e06f";}
.icon-dollar::before {content: "\e070";}
.icon-donkey::before {content: "\e071";}
.icon-dots::before {content: "\e072";}
.icon-dots-solid::before {content: "\e943";}
.icon-double-bed::before {content: "\e944";}
.icon-download-arrow::before {content: "\e074";}
.icon-dress::before {content: "\e945";}
.icon-dutch::before {content: "\e946";}
.icon-edit::before {content: "\e075";}
.icon-electric-car::before {content: "\e947";}
.icon-elevator::before {content: "\e948";}
.icon-emergency-sign::before {content: "\e076";}
.icon-english::before {content: "\e949";}
.icon-eraser::before {content: "\e077";}
.icon-espresso-machine::before {content: "\e078";}
.icon-euro-down::before {content: "\e079";}
.icon-euro-up::before {content: "\e07a";}
.icon-euro::before {content: "\e07b";}
.icon-expand-arrows::before {content: "\e07c";}
.icon-eye-disabled::before {content: "\e07d";}
.icon-eye::before {content: "\e07e";}
.icon-family::before {content: "\e94a";}
.icon-fan::before {content: "\e07f";}
.icon-fax::before {content: "\e080";}
.icon-file-add::before {content: "\e081";}
.icon-file-code::before {content: "\e082";}
.icon-file-css::before {content: "\e083";}
.icon-file-csv::before {content: "\e084";}
.icon-file-doc::before {content: "\e085";}
.icon-file-dvg::before {content: "\e086";}
.icon-file-exe::before {content: "\e087";}
.icon-file-image::before {content: "\e088";}
.icon-file-jpg::before {content: "\e089";}
.icon-file-js::before {content: "\e08a";}
.icon-file-list::before {content: "\e08b";}
.icon-file-pdf::before {content: "\e08c";}
.icon-file-png::before {content: "\e08d";}
.icon-file-txt::before {content: "\e08e";}
.icon-file-xls::before {content: "\e08f";}
.icon-file-xml::before {content: "\e090";}
.icon-file-zip::before {content: "\e091";}
.icon-file::before {content: "\e092";}
.icon-filter::before {content: "\e093";}
.icon-filter-solid::before {content: "\e94b";}
.icon-fish::before {content: "\e094";}
.icon-fishing::before {content: "\e095";}
.icon-flag::before {content: "\e096";}
.icon-flag-solid::before {content: "\e94c";}
.icon-flipchart::before {content: "\e94d";}
.icon-flower::before {content: "\e94e";}
.icon-folder::before {content: "\e099";}
.icon-folder-add::before {content: "\e097";}
.icon-folder-open::before {content: "\e098";}
.icon-folded-shirt::before {content: "\e94f";}
.icon-football::before {content: "\e09a";}
.icon-fork-knife::before {content: "\e09b";}
.icon-french::before {content: "\e950";}
.icon-fridge::before {content: "\e09c";}
.icon-front-desk-24-hs::before {content: "\e951";}
.icon-gamepad::before {content: "\e09d";}
.icon-gear::before {content: "\e09e";}
.icon-gear-solid::before {content: "\e952";}
.icon-german::before {content: "\e953";}
.icon-gesture-finger::before {content: "\e09f";}
.icon-gesture-stop::before {content: "\e0a0";}
.icon-gesture-thumbs-down::before {content: "\e0a1";}
.icon-gesture-thumbs-up::before {content: "\e0a2";}
.icon-gift::before {content: "\e0a3";}
.icon-golf::before {content: "\e0a4";}
.icon-greek::before {content: "\e954";}
.icon-grid-columns::before {content: "\e0a5";}
.icon-grid-rows::before {content: "\e0a6";}
.icon-grid::before {content: "\e0a7";}
.icon-gym-sign::before {content: "\e0a8";}
.icon-hair-dryer::before {content: "\e0a9";}
.icon-half-moon::before {content: "\e0aa";}
.icon-half-moon-solid::before {content: "\e955";}
.icon-hard-boiled-egg::before {content: "\e956";}
.icon-heart::before {content: "\e0ab";}
.icon-heart-solid::before {content: "\e957";}
.icon-highway::before {content: "\e0ac";}
.icon-home::before {content: "\e0ad";}
.icon-home-solid::before {content: "\e958";}
.icon-horse::before {content: "\e959";}
.icon-hot-badge::before {content: "\e0ae";}
.icon-hot-bath::before {content: "\e0af";}
.icon-hotel-3-stars::before {content: "\e0b0";}
.icon-hotel-4-stars::before {content: "\e0b1";}
.icon-hotel-5-stars::before {content: "\e0b2";}
.icon-hotel-bell::before {content: "\e0b3";}
.icon-hotel-building::before {content: "\e0b4";}
.icon-hotel-disturb::before {content: "\e0b5";}
.icon-hotel-disturb-solid::before {content: "\e95a";}
.icon-hotel-dont-disturb::before {content: "\e0b6";}
.icon-hotel-dont-disturb-solid::before {content: "\e95b";}
.icon-hotel-sign::before {content: "\e0b7";}
.icon-hotel-sign-solid::before {content: "\e95c";}
.icon-hotel-stars::before {content: "\e0b8";}
.icon-hotel-style::before {content: "\e0b9";}
.icon-hour-half::before {content: "\e95d";}
.icon-hour-quarter::before {content: "\e95e";}
.icon-hour-three-quarter::before {content: "\e95f";}
.icon-hungarian::before {content: "\e960";}
.icon-ice-cream::before {content: "\e0ba";}
.icon-idea::before {content: "\e961";}
.icon-image::before {content: "\e0bb";}
.icon-image-solid::before {content: "\e962";}
.icon-info-sign::before {content: "\e0bc";}
.icon-info-sign-solid::before {content: "\e963";}
.icon-iron-table::before {content: "\e0bd";}
.icon-iron::before {content: "\e0be";}
.icon-italian::before {content: "\e964";}
.icon-jcb::before {content: "\e965";}
.icon-kayak::before {content: "\e0bf";}
.icon-kettle::before {content: "\e966";}
.icon-key::before {content: "\e0c0";}
.icon-keyboard::before {content: "\e0c1";}
.icon-king-size-bed::before {content: "\e967";}
.icon-lamp::before {content: "\e0c2";}
.icon-large-work-area::before {content: "\e968";}
.icon-life-ring::before {content: "\e0c3";}
.icon-light-bulb::before {content: "\e0c4";}
.icon-line-chart::before {content: "\e0c5";}
.icon-link-add::before {content: "\e0c6";}
.icon-link-remove::before {content: "\e0c7";}
.icon-link::before {content: "\e0c8";}
.icon-login::before {content: "\e0c9";}
.icon-logout::before {content: "\e0ca";}
.icon-luggage-transport::before {content: "\e0cb";}
.icon-luggage::before {content: "\e0cc";}
.icon-magic::before {content: "\e0cd";}
.icon-mail::before {content: "\e0d2";}
.icon-mail-add::before {content: "\e0ce";}
.icon-mail-cancel::before {content: "\e969";}
.icon-mail-open::before {content: "\e0cf";}
.icon-mail-remove::before {content: "\e96a";}
.icon-mail-send-arrow::before {content: "\e0d0";}
.icon-mail-sent::before {content: "\e0d1";}
.icon-man::before {content: "\e0d3";}
.icon-man-solid::before {content: "\e96c";}
.icon-map-marker::before {content: "\e0d4";}
.icon-map-marker-solid::before {content: "\e96d";}
.icon-map-route::before {content: "\e0d5";}
.icon-map::before {content: "\e0d6";}
.icon-makeup::before {content: "\e96b";}
.icon-massage-bed::before {content: "\e96e";}
.icon-mastercard::before {content: "\e96f";}
.icon-men::before {content: "\e0d7";}
.icon-men-solid::before {content: "\e970";}
.icon-menu::before {content: "\e0d8";}
.icon-metro::before {content: "\e0d9";}
.icon-microphone::before {content: "\e0da";}
.icon-microwave::before {content: "\e0db";}
.icon-mini-bus::before {content: "\e0dc";}
.icon-money::before {content: "\e0dd";}
.icon-monitor::before {content: "\e0de";}
.icon-mountain-climbing::before {content: "\e971";}
.icon-mountains::before {content: "\e0df";}
.icon-mouse::before {content: "\e0e0";}
.icon-murphy-bed::before {content: "\e972";}
.icon-museum::before {content: "\e973";}
.icon-music::before {content: "\e0e1";}
.icon-n-a::before {content: "\e0e2";}
.icon-net::before {content: "\e0e3";}
.icon-network-globe::before {content: "\e0e4";}
.icon-new-badge::before {content: "\e0e5";}
.icon-newspaper::before {content: "\e974";}
.icon-no-meal::before {content: "\e975";}
.icon-no-smoking::before {content: "\e0e6";}
.icon-notebook::before {content: "\e0e7";}
.icon-off-season::before {content: "\e976";}
.icon-open-door::before {content: "\e0e8";}
.icon-options::before {content: "\e0e9";}
.icon-oven::before {content: "\e0ea";}
.icon-package::before {content: "\e977";}
.icon-padlock::before {content: "\e0eb";}
.icon-padlock-solid::before {content: "\e978";}
.icon-parachute::before {content: "\e0ec";}
.icon-parking-sign::before {content: "\e0ed";}
.icon-password::before {content: "\e0ee";}
.icon-paw::before {content: "\e0ef";}
.icon-pc-desktop::before {content: "\e0f0";}
.icon-pc-laptop::before {content: "\e0f1";}
.icon-percentage::before {content: "\e0f2";}
.icon-percentage-circle::before {content: "\e979";}
.icon-pets-ban::before {content: "\e97a";}
.icon-phone-24::before {content: "\e0f3";}
.icon-phone-call::before {content: "\e0f4";}
.icon-phone-payment::before {content: "\e97b";}
.icon-pie-chart::before {content: "\e0f5";}
.icon-pillow::before {content: "\e97c";}
.icon-pines::before {content: "\e97d";}
.icon-ping-pong::before {content: "\e0f6";}
.icon-plane::before {content: "\e0f7";}
.icon-plane-solid::before {content: "\e97e";}
.icon-playground::before {content: "\e97f";}
.icon-plug::before {content: "\e0f8";}
.icon-poker::before {content: "\e0f9";}
.icon-polish::before {content: "\e980";}
.icon-popcorn::before {content: "\e981";}
.icon-portuguese::before {content: "\e982";}
.icon-pound::before {content: "\e0fa";}
.icon-printer::before {content: "\e0fb";}
.icon-profile-user::before {content: "\e0fc";}
.icon-profile-user-solid::before {content: "\e983";}
.icon-projector::before {content: "\e984";}
.icon-property-over-water::before {content: "\e985";}
.icon-queen-size-bed::before {content: "\e986";}
.icon-rate::before {content: "\e988";}
.icon-rate-solid::before {content: "\e987";}
.icon-recycling::before {content: "\e0fd";}
.icon-refresh-alt::before {content: "\e0fe";}
.icon-refresh::before {content: "\e0ff";}
.icon-road::before {content: "\e100";}
.icon-rollaway-bed::before {content: "\e989";}
.icon-roller-skates::before {content: "\e101";}
.icon-rope-walking::before {content: "\e98a";}
.icon-ruler::before {content: "\e98b";}
.icon-running::before {content: "\e98c";}
.icon-russian::before {content: "\e98d";}
.icon-safe-box::before {content: "\e102";}
.icon-sand-clock::before {content: "\e98e";}
.icon-save::before {content: "\e103";}
.icon-scooter::before {content: "\e104";}
.icon-sea-plane::before {content: "\e98f";}
.icon-search-add::before {content: "\e105";}
.icon-search-remove::before {content: "\e106";}
.icon-search::before {content: "\e107";}
.icon-security-24-hs::before {content: "\e990";}
.icon-security-camera::before {content: "\e108";}
.icon-serving-plate-hand::before {content: "\e109";}
.icon-serving-plate::before {content: "\e10a";}
.icon-settings::before {content: "\e10b";}
.icon-share::before {content: "\e10c";}
.icon-shoe-shine::before {content: "\e991";}
.icon-shopping-bag-star::before {content: "\e10d";}
.icon-shopping-bag::before {content: "\e10e";}
.icon-shower::before {content: "\e992";}
.icon-sign-divide::before {content: "\e110";}
.icon-sign-equal::before {content: "\e111";}
.icon-sign-greater-than::before {content: "\e112";}
.icon-sign-identical::before {content: "\e113";}
.icon-sign-infinity::before {content: "\e114";}
.icon-sign-less-than::before {content: "\e115";}
.icon-sign-minus::before {content: "\e116";}
.icon-sign-not-equal::before {content: "\e117";}
.icon-sign-plus::before {content: "\e118";}
.icon-signal::before {content: "\e119";}
.icon-single-bed::before {content: "\e993";}
.icon-ski-boots::before {content: "\e11b";}
.icon-ski::before {content: "\e11c";}
.icon-slot::before {content: "\e11d";}
.icon-slovak::before {content: "\e994";}
.icon-slovenian::before {content: "\e995";}
.icon-smoking::before {content: "\e11e";}
.icon-snowflake::before {content: "\e11f";}
.icon-snowman::before {content: "\e120";}
.icon-snow-toboggan::before {content: "\e996";}
.icon-sofa-bed::before {content: "\e997";}
.icon-sort-1-9::before {content: "\e998";}
.icon-sort-9-1::before {content: "\e999";}
.icon-sort-a-z::before {content: "\e99a";}
.icon-sort-z-a::before {content: "\e99b";}
.icon-spa-flower::before {content: "\e121";}
.icon-spa-sign::before {content: "\e122";}
.icon-spaceship::before {content: "\e123";}
.icon-spanish::before {content: "\e99c";}
.icon-speaker::before {content: "\e124";}
.icon-speedometer::before {content: "\e125";}
.icon-square-check::before {content: "\e126";}
.icon-square::before {content: "\e127";}
.icon-squash::before {content: "\e99d";}
.icon-star::before {content: "\e129";}
.icon-star-solid::before {content: "\e99f";}
.icon-star-half::before {content: "\e128";}
.icon-star-half-solid::before {content: "\e99e";}
.icon-stopwatch::before {content: "\e9a0";}
.icon-suitcase::before {content: "\e12a";}
.icon-suitcase-solid::before {content: "\e9a1";}
.icon-sun-field::before {content: "\e12b";}
.icon-sun::before {content: "\e12c";}
.icon-sun-solid::before {content: "\e9a2";}
.icon-sunbed::before {content: "\e12d";}
.icon-sunset-sea::before {content: "\e12e";}
.icon-surf::before {content: "\e12f";}
.icon-swedish::before {content: "\e9a3";}
.icon-swimming-alt::before {content: "\e130";}
.icon-swimming::before {content: "\e131";}
.icon-tag::before {content: "\e132";}
.icon-target::before {content: "\e133";}
.icon-target-alt::before {content: "\e9a4";}
.icon-tasks-checked::before {content: "\e9a5";}
.icon-taxi::before {content: "\e134";}
.icon-teddy-bear::before {content: "\e135";}
.icon-theatre::before {content: "\e9a6";}
.icon-teleferik::before {content: "\e136";}
.icon-temperature-cold::before {content: "\e137";}
.icon-temperature-hot::before {content: "\e138";}
.icon-tennis::before {content: "\e139";}
.icon-text-align-center::before {content: "\e13a";}
.icon-text-align-justify::before {content: "\e13b";}
.icon-text-align-left::before {content: "\e13c";}
.icon-text-align-right::before {content: "\e13d";}
.icon-text-list::before {content: "\e13e";}
.icon-ticket::before {content: "\e13f";}
.icon-time-pass::before {content: "\e140";}
.icon-times::before {content: "\e141";}
.icon-towel::before {content: "\e9a7";}
.icon-traffic-light::before {content: "\e142";}
.icon-train::before {content: "\e143";}
.icon-trash-bin::before {content: "\e144";}
.icon-trekking::before {content: "\e145";}
.icon-trumpet::before {content: "\e146";}
.icon-turkish::before {content: "\e9a8";}
.icon-tv::before {content: "\e147";}
.icon-two-single-bed::before {content: "\e9a9";}
.icon-umbrella::before {content: "\e148";}
.icon-upload-arrow::before {content: "\e149";}
.icon-user::before {content: "\e14d";}
.icon-user-solid::before {content: "\e9ac";}
.icon-user-add::before {content: "\e14a";}
.icon-user-add-solid::before {content: "\e9aa";}
.icon-user-list::before {content: "\e14b";}
.icon-user-remove::before {content: "\e14c";}
.icon-user-remove-solid::before {content: "\e9ab";}
.icon-users::before {content: "\e14f";}
.icon-users-solid::before {content: "\e9ae";}
.icon-users-alt::before {content: "\e14e";}
.icon-users-alt-solid::before {content: "\e9ad";}
.icon-vegetarian-food::before {content: "\e9af";}
.icon-villa::before {content: "\e9b0";}
.icon-visa::before {content: "\e9b1";}
.icon-volleyball::before {content: "\e150";}
.icon-wallet::before {content: "\e151";}
.icon-warning-sign::before {content: "\e152";}
.icon-warning-sign-solid::before {content: "\e9b2";}
.icon-washing-machine::before {content: "\e153";}
.icon-water::before {content: "\e154";}
.icon-water-solid::before {content: "\e9b4";}
.icon-water-ski::before {content: "\e9b3";}
.icon-wc::before {content: "\e9b5";}
.icon-wedding-rings::before {content: "\e155";}
.icon-weight::before {content: "\e156";}
.icon-wheelchair::before {content: "\e157";}
.icon-wheelchair-mountain::before {content: "\e9b6";}
.icon-whiteboard::before {content: "\e9b7";}
.icon-window-stack::before {content: "\e158";}
.icon-window::before {content: "\e159";}
.icon-wine-glass::before {content: "\e15a";}
.icon-wooden-deck::before {content: "\e9b8";}
.icon-zoom-in::before {content: "\e9b9";}
.icon-zoom-out::before {content: "\e9ba";}
